+++
title = "infilos.com"
linkTitle = "infilos.com"
+++

{{< blocks/cover title="Keep Walking & Learning" image_anchor="top" height="auto" color="primary" >}}
<div class="mx-auto">
    <a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/基础知识" >}}">
    	开始阅读 <i class="fas fa-arrow-alt-circle-right ml-2"></i>
    </a>
    <a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/infilos/infilos.com">
			欢迎关注 <i class="fab fa-github ml-2 "></i>
    </a>
    <p class="lead mt-5">翻译、整理技术书籍、文档、博客，学习、积累、分享核心技术知识</p>
    {{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}

{{% blocks/lead color="primary" %}}
系统化学习软件开发的方方面面——从理论到实战
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}

{{% blocks/feature icon="fas fa-graduation-cap" title="基础知识" %}}
切勿浮沙筑高台。
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-terminal" title="编程语言" %}}
拥有二十多年历史的 Java 目前仍然充满活力，现代化的 Scala 也非常值得一试。 
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-random" title="并发编程" %}}
掌握并发编程是编写高级应用程序的前提。
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-network-wired" title="网络编程" %}}
你的应用总是需要与外部交互。
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-sitemap" title="分布式系统" %}}
解决所有不可控因素，构建能力更强的多节点系统。
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-database" title="存储系统" %}}
数据库系统几乎涉及了现代计算机技术的方方面面。
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-envelope-open" title="消息系统" %}}
异步、削峰、解耦，大型在线系统必备设施。
{{% /blocks/feature %}}

{{% blocks/feature icon="fad fa-file-csv" title="数据系统" %}}
数据不在大小，而在于如何有效利用数据创造价值。
{{% /blocks/feature %}}

{{% blocks/feature icon="fad fa-server" title="基础设施" %}}
监控、告警、追踪、交付、部署、DevOps、SRE
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-solid fa-desktop" title="交互界面" %}}
CLI、GUI、Web 应用能够更加直观的体现系统的能力。
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-solid fa-bullseye" title="业务系统" %}}
实现业务目标的同时精进技术，技术创新以突破业务目标。
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-solid fa-compress" title="编程原则" %}}
即便是再复杂的场景也有规律可循。
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-solid fa-border-none" title="架构模式" %}}
没有最好、只有合适，开阔视野、积累经验。
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-solid fa-question" title="面试问答" %}}
记忆力大比拼
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-wave-square" title="管理路径" %}}
一个人的力量总是有限的。
{{% /blocks/feature %}}

{{< /blocks/section >}}

{{< blocks/lead >}}
<strong>欢迎参与贡献！</strong>
<br/>
我们通过 <a href="https://github.com/infilos/infilos.com/pulls">Pull Request</a> 在 <strong>GitHub</strong> 上协作。我们期待您的加入！
{{< /blocks/lead >}}

