#my-footer ul {
  list-style: none;
  margin-left: 50px;
  display: inline;
  font-size: 0.8em;
}

#my-footer li {
  display: inline;
  margin-left: 10px;
  line-height: 40px;
  float: left
}

#my-footer img {
  max-width: 6rem;
  max-height: 2.5rem;
}

.navbar-brand {
  svg {
    display: inline-block;
    margin: 0 20px 5px 5px !important;
    height: 25px !important;
    width: 25px !important;
  }
}
.td-sidebar-nav {
  a {
    &.active {
      color: $sidebar-nav-active;
    }
  }
}

// replace dropdown icon with +
.dropdown-toggle::after {
  display: none !important;
}

