$primary: #30638E;
$secondary: #FFA630;

$enable-gradients: false;
$enable-rounded: true;
$enable-shadows: false;
$sidebar-nav-active: #FFA630;

$google_font_name: "Ubuntu";
$google_font_family: "Ubuntu:Light,LightItalic,Medium,MediumItalic,Bold,BoldItalic";